.header {
    height: 85vh;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url(../img/half-dome.jpg);
    position: relative;
    background-size: cover; /* Resize the image to cover the entire container, even if it has to crop/stretch */
    background-position: top;

    // if browser supports x or y...
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        // polygon(x y, x y, x y, x y) - specifying each corner going clockwise
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
        // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);

        height: 96vh;
    }

    // change to larger picture if min-resolution >= 192dpi (mac screen) and > 600px or safari browser px ratio >= 2 or > 2000px
    // image is 2000px width. Phones are 2 DPR (device pixel ratio) = 2x pixels
    // 600px / 16px = 37.5em
    @media (min-resolution: 192dpi) and (min-width: 37.5em),
        (-webkit-min-device-pixel-ratio: 2),
        (min-width: 125em) {
        background-image: linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8)
            ),
            url(../img/hero.jpg);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        margin-top: -4rem;
        height: 13rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        /* to this point, the h1's top left corner is 50% at x and y */
        /* transform: translate makes it so the point of measure is the center of the element */
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
