.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;

        // change for the <button> element
        border: none;
        cursor: pointer;
    }

    /* raise button on hover */
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);
    }

    /* slightly raise button when clicked */
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.3rem 0.5rem rgba($color-black, 0.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--yellow {
        background-color: $color-white;
        color: $color-secondary-dark;
    }

    &--blue {
        background-color: $color-white;
        color: $color-tertiary-dark;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated {
        animation: moveInBottom 1s ease-in 0.5s; /* last value is the delay */
        animation-fill-mode: backwards; /* comment this line out to understand usage */
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-white;
        display: inline-block;
        text-decoration: none;
        border-radius: 50rem;
        background-color: $color-primary;
        padding: 0.7rem 1.4rem;

        // hover transition lasts .2 seconds
        transition: all 0.2s;
    }

    &:hover {
        box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2); /* box-shadow: x y blur color; */
        transform: translateY(-0.3rem);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2); /* box-shadow: x y blur color; */
        transform: translateY(0);
    }
}
