.composition {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    @include clearfix;

    &__photo {
        // width: 90%;
        height: 100%;
        display: block;
        position: absolute;
        border-radius: 0.6rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
        animation-name: multiple-image-crossfade;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 12s;
        &:nth-of-type(1) {
            animation-delay: 9s;
        }
        &:nth-of-type(2) {
            animation-delay: 6s;
        }
        &:nth-of-type(3) {
            animation-delay: 3s;
        }
        &:nth-of-type(4) {
            animation-delay: 0;
        }

        @include respond(phone) {
            height: 90%;
        }
    }
}
